body, html {
  background-image: url('../images/trivia_background_2.jpg');
  padding-bottom: 70px;
  background-size: cover;
  font-family: 'Philosopher', sans-serif;
}
h1, h2, .btn {
  font-family: 'Cinzel', serif;
}
.card {
  margin-top: 10%;
  background-color: #f8f7e5
}
.card-body {
  text-align: center;
}
.card-title {
  font-size: 60px;
  margin-bottom: 25px;
}
.answer-choice {
  font-size: 20px;
}
.answer-choice:hover {
  background-color: #c1cdce;
  cursor: pointer;
}
.result-message {
  font-size: 20px;
}
.corrected-answer {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}
.btn, .btn:hover {
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #4e466b;
  color: white;
}
.giphy-gif {
  height: 250px;
  width: 350px;
}
